<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MySpringBoot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <link rel="stylesheet" href="/editormd/css/editormd.css">
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css" />
    <link rel="stylesheet" href="/css/me.css">
</head>

<body>
<!--导航-->
<nav class="ui inverted attached segment m-padding-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item">Fred's</h2>
            <a href="/" class="m-item item m-mobile-hide"><i class="home icon "></i>博客</a>
            <a href="/admin/index" class="m-item item m-mobile-hide"><i class="setting icon"></i>管理</a>
            <a href="/admin/tag" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" th:src="${session.admin.getAvatar()}"><span
                            th:text="${session.admin.getUsername()}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/blog/publish}" class="item"><i class="pencil icon"></i>写博客</a>
                        <a href="/admin/logout" class="item"><i class="power off icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui lists black menu icon button m-right-top m-mobile-show">
        <i class="bars icon"></i>
    </a>
</nav>
<!-- 中间内容 -->
<div class="ui container m-padded-tb-big m-margin-bottom">
    <br>
    <form action="/admin/blog/publish" method="post" class="ui form">
        <div class="ui basic segment">
            <h1 th:if="${id != null}" th:text="更新博客"></i></h1>
            <h1 th:if="${id == null}" th:text="新增博客"></i></h1>
            <button type="submit" class="ui huge right floated green button"> 发布</button>
        </div>
        <div class="ui container">
            <input type="hidden" name="id" th:value="${id}">
            <div class="ui basic segment">
                <h3>标题</h3>
                <div class="ui basic segment">
                    <div class="ui huge icon input" style="width: 30em!important;">
                        <input type="text" name="title" th:value="${title}" autocomplete="off" placeholder="请输入标题">
                        <i class="pencil icon"></i>
                    </div>
                </div>
                <h3>内容</h3>
                    <div id="test-editor">
                        <textarea style="display:none;" id="content" name="content" th:text="${content}">
                        </textarea>
                    </div>
                    <div class="field">
                        <h3>封面图</h3>
                        <input type="text" name="image" autocomplete="off" placeholder="请输入封面图片地址">
                        <i class="image icon"></i>
                    </div>
                    <div class="field">
                        <h3>标签</h3>
                        <select multiple="" class="ui dropdown" name="tag">
                            <option value="" th:if="${tag==null}">选择标签</option>
                            <option th:each="t : ${tags.list}" th:text="${t.name}" th:value="${t.name}"></option>
                        </select>
                    </div>
            </div>
        </div>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--页尾-->
<footer class="ui bottom inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/img/wechat.jpg" class="ui rounded image" width="100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email : 794760487@qq.com</a>
                    <a href="#" class="item">QQ : 794760487</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是基于spring boot 和
                    Semantic组合搭建的个人博客,欢迎大家互相交流，相互学习。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2020 Fred's Power by xwx</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.js"></script>
<script src="/editormd/editormd.js"></script>
<script>
    $(function () {
        var editor = editormd("test-editor", {
            height: 600,
            watch: false,
            emoji: true,
            path: "/editormd/lib/",
            placeholder: "请输入问题描述",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/file/upload",
            saveHTMLToTextarea : true,
            previewTheme : "dark"
        });
    });

    $('.lists').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


</script>
</body>

</html>