<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MySpringBoot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/editormd/css/editormd.css">
    <link rel="stylesheet" href="/css/me.css">
</head>

<body>
<!--导航-->
<nav class="ui inverted attached segment m-padding-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui orange header item">Fred's</h2>
            <a href="/" class="m-item item m-mobile-hide"><i class="home icon "></i>博客</a>
            <a href="/admin/index" class="m-item item m-mobile-hide"><i class="setting icon"></i>管理</a>
            <a href="/admin/tag" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" th:src="${session.admin.getAvatar()}"><span
                            th:text="${session.admin.getUsername()}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/blog/publish}" class="item"><i class="pencil icon"></i>写博客</a>
                        <a href="/admin/logout" class="item"><i class="power off icon"></i>注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui lists black menu icon button m-right-top m-mobile-show">
        <i class="bars icon"></i>
    </a>
</nav>
<!-- 中间内容 -->
<div class="contrainer-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>
            <form action="/admin/blog/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" th:value="${title}" id="title"
                           name="title"
                           placeholder="问题标题">
                </div>
                <div class="form-group" id="test-editor">
                    <label for="content">问题补充</label>
                    <textarea name="content" id="content" th:text="${content}" class="form-control"
                              placeholder="描述你的问题" style="display: none;"
                              cols="30" rows="10"></textarea>
                </div>
                <div class="ui container">
                    <div class="ui segment">
                        <div class="field">
                            <label>标签</label>
                            <select multiple="" class="ui dropdown" name="tag">
                                <option value="" th:if="${tag==null}">选择标签</option>
                                <option th:each="t : ${tags.list}" th:text="${t.name}" th:value="${t.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                         th:text="${error}"
                         th:if="${error != null}">
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-success btn-publish">发布</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<!--页尾-->
<footer class="ui bottom inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/img/wechat.jpg" class="ui rounded image" width="100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email : 794760487@qq.com</a>
                    <a href="#" class="item">QQ : 794760487</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是基于spring boot 和
                    Semantic组合搭建的个人博客,欢迎大家互相交流，相互学习。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2020 Fred's Power by xwx</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.js"></script>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/editormd/editormd.js"></script>
<script>
    $(function () {
        var editor = editormd("test-editor", {
            height: 600,
            watch: false,
            path: "/editormd/lib/",
            placeholder: "请输入问题描述",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/file/upload"
        });
    });

    $('.lists').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


</script>
</body>

</html>